{% load staticfiles %}

<html>
	<head>
		<title>Anmeldung für {JUNGHACKER} – Programmieren für Kids</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>

	</head>
	<body>
        <div class="container">
            <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Anmeldung für {JUNGHACKER} – Programmieren für Kids</h3>
                    </div>
                    <div class="panel-body">
                       <ul class="list-group">
                        <li class="list-group-item">
<p>
Um bei unserer Veranstaltung am 25. August 2018 teilnehmen zu können, musst du dich hier anmelden. Bitte sorge dafür, dass du die angegebene E-Mail Adresse regelmäßig abrufst.

</p>
</li>
</ul>
                        <form action="{% url 'register' %}" method="POST" class="register-form" id="register">{% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.firstname }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.lastname }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
					           <label>E-Mail Adresse</label>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8">
                                <div class="form-group">
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                					<label>Dein Alter</label>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8">
                				<div class="form-group">
                					{{ form.age }}
                				</div>
                            </div>
                        </div>
                        <div class="row alter">

                            <div class="col-sm-12">
                                <h4>Damit wir uns besser auf die Veranstaltung vorbereiten können, kannst du hier angeben, was dich interessiert und was du schon kannst:</h4>

                            </div>
                        </div>
                        <div class="row radios">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label>Programmieren (AnfängerIn)</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="form-group">
                                    {{ form.coding_einsteiger }}
                                </div>
                            </div>
                        </div>
                        <div class="row radios">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label>Programmieren (Fortgeschritten)</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="form-group">
                                    {{ form.coding_fortgeschritten }}
                                </div>
                            </div>
                        </div>
                        <div class="row radios">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label>Medienbearbeitung (Grafik, Foto, Video)</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="form-group">
                                    {{ form.medien_bearbeitung }}
                                </div>
                            </div>
                        </div>
                        <div class="row radios">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label>Linux</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="form-group">
                                    {{ form.linux }}
                                </div>
                            </div>
                        </div>
                        <div class="row radios">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label>Roboter bauen/programmieren</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="form-group">
                                    {{ form.roboter }}
                                </div>
                            </div>
                        </div>
                        <div class="row radios">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label>Löten</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="form-group">
                                    {{ form.loeten }}
                                </div>
                            </div>
                        </div>
                        <div class="row radios">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label>Elektronik</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="form-group">
                                    {{ form.elektronik }}
                                </div>
                            </div>
                        </div>
                        <div class="row radios">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label>Wearables (Elektronik + Nähen)</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="form-group">
                                    {{ form.wearables }}
                                </div>
                            </div>
                        </div>
                        <div class="row freitext">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    {{ form.freitext }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
				    <strong>Hinweis zum Datenschutz</strong>
				<p>Die von dir gemachten Angaben speichern wir auf unserem Server bis zum Ende der Veranstaltung zu der du dich angemeldet hast. Die ausgedruckte Teilnehmer*innen-Liste wird für 3 Jahre archiviert. Andere personenbezogene Daten werden nicht nicht erfasst / gespeichert.	    
				    </p>
				</div>
                        </div>


                        <button class="btn btn-info btn-block" type="submit" value="Anmelden">Anmelden</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </body>
</html>
