{% load staticfiles %}

<html>
	<head>
		<title>Hackaday registerpage</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>	
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>

	</head>
	<body>
        <div class="container">
            <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Hackaday 2016 RegisterPage</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'register' %}" method="POST" class="register-form" id="register">{% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.firstname }}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.lastname }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <p>Geburtstag: </p>
                            <div class="input-group date">
                                {{ form.birthdate }}
                                <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-info btn-block" type="submit" value="Register">Register</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <script>
        $('.input-group.date').datepicker({
            startView: 2,
            maxViewMode: 3,
            startDate: '-20y',
            endDate: '-10y',
            todayHighlight: true
        });
        </script>
    </body>
</html>
